
.panel-cloon {
/*  overflow: hidden;  */
position: relative;
}

.panel-2col .panel-col-first .inside {
  margin: 0;
}


.panel-cloon .panel-col {
  width: 100%;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-2col .panel-separator {
  margin: 0 0 1em 0;
}
