body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding-bottom: 2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.45;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
h1,
h3 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 6.1em;
  letter-spacing: -4px;
}
h2 {
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: -1px;
}
h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: .3px;
}
h4 {
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: .4px;
}
h5 {
  font-size: 1.05em;
  font-weight: 400;
  letter-spacing: .3px;
}
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.05em;
  font-weight: 300;
  letter-spacing: .3px;
}
p {
  line-height: 1.45;
  margin-bottom: .8rem;
}
p:last-child {
  margin-bottom: 0;
}
strong {
  font-weight: 600;
}
em {
  font-style: italic;
}
p.callout {
  font-size: 2rem;
  font-weight: 300;
}
.hushed {
  font-size: .9em;
  opacity: .8;
}
body {
  background-color: #111;
  color: #fff;
}
a {
  color: #ff0052;
  text-decoration: none;
}
a:hover {
  color: #b30039;
  text-decoration: underline;
}
.c-black {
  background-color: #fff;
  color: #111;
}
.c-muted {
  background-color: #c3c3c6;
  color: #111;
}
.c-primary {
  background-color: #ff0052;
  color: #111;
}
.c-secondary {
  background-color: #8e2b88;
  color: #111;
}
.black {
  color: #fff;
}
.muted {
  color: #c3c3c6;
}
.primary {
  color: #ff0052;
}
.secondary {
  color: #8e2b88;
}
h1,
h2,
h3,
h4 {
  color: #fff;
}
h5 {
  color: #ff0052;
}
.btn,
input[type=button],
input[type=submit],
ul.primary li a {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: transparent;
  border: 2px solid #ff0052;
  border-radius: 4px;
  color: #ff0052;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  padding: 0 1em;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 1em;
  text-decoration: none;
}
.btn:hover,
input[type=button]:hover,
input[type=submit]:hover,
ul.primary li a:hover {
  text-decoration: none;
  color: #ff0052;
}
.btn:not(.btn-disabled):hover,
input[type=button]:not(.btn-disabled):hover,
input[type=submit]:not(.btn-disabled):hover,
ul.primary li a:not(.btn-disabled):hover {
  background-color: #ff0052;
  color: #111;
}
ul.primary li.active {
  display: none;
}
.btn-secondary,
input[type=button].btn-secondary,
input[type=submit].btn-secondary {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: transparent;
  border: 2px solid #ff0052;
  border-radius: 4px;
  color: #ff0052;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  padding: 0 1em;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 1em;
  text-decoration: none;
  border-color: #8e2b88;
  color: #8e2b88;
}
.btn-secondary:hover,
input[type=button].btn-secondary:hover,
input[type=submit].btn-secondary:hover {
  text-decoration: none;
  color: #ff0052;
}
.btn-secondary:not(.btn-disabled):hover,
input[type=button].btn-secondary:not(.btn-disabled):hover,
input[type=submit].btn-secondary:not(.btn-disabled):hover {
  background-color: #ff0052;
  color: #111;
}
.btn-secondary:hover,
input[type=button].btn-secondary:hover,
input[type=submit].btn-secondary:hover {
  color: #8e2b88;
}
.btn-secondary:not(.btn-disabled):hover,
input[type=button].btn-secondary:not(.btn-disabled):hover,
input[type=submit].btn-secondary:not(.btn-disabled):hover {
  background-color: #8e2b88;
  color: #111;
}
.btn-muted,
input[type=button].btn-muted,
input[type=submit].btn-muted {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: transparent;
  border: 2px solid #ff0052;
  border-radius: 4px;
  color: #ff0052;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.2;
  padding: 0 1em;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 1em;
  text-decoration: none;
  background-color: transparet;
  color: #c3c3c6;
  border-color: #c3c3c6;
}
.btn-muted:hover,
input[type=button].btn-muted:hover,
input[type=submit].btn-muted:hover {
  text-decoration: none;
  color: #ff0052;
}
.btn-muted:not(.btn-disabled):hover,
input[type=button].btn-muted:not(.btn-disabled):hover,
input[type=submit].btn-muted:not(.btn-disabled):hover {
  background-color: #ff0052;
  color: #111;
}
.btn-muted:hover,
input[type=button].btn-muted:hover,
input[type=submit].btn-muted:hover {
  color: #c3c3c6;
}
.btn-muted:not(.btn-disabled):hover,
input[type=button].btn-muted:not(.btn-disabled):hover,
input[type=submit].btn-muted:not(.btn-disabled):hover {
  background-color: #c3c3c6;
}
.btn-disabled {
  opacity: .5;
  cursor: default;
}
.description {
  color: #9a9a9a;
  font-size: .95rem;
  padding-left: .25em;
  margin-bottom: 1em;
  padding-top: .1em;
}
p.description {
  margin-top: -1.25em;
}
.form-item {
  margin-bottom: 1rem;
}
.form-type-textfield,
.form-type-email,
.webform-component-textfield,
.webform-component-email,
.form-type-password {
  position: relative;
}
.form-type-textfield label,
.form-type-email label,
.webform-component-textfield label,
.webform-component-email label,
.form-type-password label {
  position: absolute;
  left: .85rem;
  top: .5rem;
}
.form-element {
  border: 2px solid #c3c3c6;
  border-radius: 4px;
  box-sizing: border-box;
  padding: .5rem .7rem;
  width: 100%;
}
.form-text {
  border: 2px solid #c3c3c6;
  border-radius: 4px;
  box-sizing: border-box;
  padding: .5rem .7rem;
  width: 100%;
  background: #111;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding-top: 2rem;
  -webkit-font-smoothing: antialiased;
}
.form-text:focus {
  border-color: #8e2b88;
  outline: 0;
}
.form-text.error {
  border-color: #8e2b88;
}
.form-text.error:focus {
  border-color: #531950;
}
.pseudo-toggle-input-before {
  background-color: #111;
  border: 1px solid #c3c3c6;
  box-shadow: 0 0 1px #c3c3c6, 0 0 1px #111 inset;
  content: '';
  display: block;
  position: absolute;
  top: 3em;
  left: .75em;
  height: 16px;
  width: 16px;
}
.pseudo-toggle-input-after {
  background-color: #c3c3c6;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 1.5em;
  left: 1em;
}
.form-type-radio,
.form-type-checkbox {
  position: relative;
  width: 100%;
}
.form-type-radio input,
.form-type-checkbox input {
  display: none;
}
.form-type-radio .option,
.form-type-checkbox .option {
  border: 2px solid #c3c3c6;
  border-radius: 4px;
  box-sizing: border-box;
  padding: .5rem .7rem;
  width: 100%;
  display: block;
  font-size: 1rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 2.4rem;
  margin-bottom: .55rem;
}
.form-type-radio .option:before,
.form-type-checkbox .option:before {
  background-color: #111;
  border: 1px solid #c3c3c6;
  box-shadow: 0 0 1px #c3c3c6, 0 0 1px #111 inset;
  content: '';
  display: block;
  position: absolute;
  top: 3em;
  left: .75em;
  height: 16px;
  width: 16px;
  border-radius: 2px;
}
.form-type-radio:hover .option,
.form-type-checkbox:hover .option {
  background-color: #f7f7f7;
  cursor: pointer;
}
.form-type-radio:last-of-type .option,
.form-type-radio:last-of-type,
.form-type-checkbox:last-of-type .option,
.form-type-checkbox:last-of-type {
  margin-bottom: 0;
}
.form-type-radio input:checked + .option,
.form-type-checkbox input:checked + .option {
  border-color: #8e2b88;
}
.form-type-radio input:checked + .option:after,
.form-type-checkbox input:checked + .option:after {
  background-color: #c3c3c6;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 1.5em;
  left: 1em;
  border-radius: 1px;
}
.form-type-radio .form-radio:checked + .option:after,
.form-type-checkbox .form-radio:checked + .option:after {
  border-radius: 6px;
}
.form-radio .option:before {
  border-radius: 9px;
}
.form-type-radios>label,
.form-type-checkboxes>label {
  margin-bottom: .5em;
  margin-top: 1em;
  display: block;
}
.form-type-checkbox .option {
  margin-bottom: 0;
}
.form-item-textarea label,
.webform-component-textarea label {
  padding-bottom: .25em;
  display: block;
  text-align: left;
}
.form-item-textarea textarea,
.webform-component-textarea textarea {
  border: 2px solid #c3c3c6;
  border-radius: 4px;
  box-sizing: border-box;
  padding: .5rem .7rem;
  width: 100%;
  background: #111;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding-top: 2rem;
  -webkit-font-smoothing: antialiased;
  padding-top: .5rem;
  display: block;
  max-width: 100%;
}
.form-item-textarea textarea:focus,
.webform-component-textarea textarea:focus {
  border-color: #8e2b88;
  outline: 0;
}
.form-item-textarea textarea.error,
.webform-component-textarea textarea.error {
  border-color: #8e2b88;
}
.form-item-textarea textarea.error:focus,
.webform-component-textarea textarea.error:focus {
  border-color: #531950;
}
.grippie {
  display: none;
}
.form-type-select .description {
  padding-left: 0;
  padding-top: .5em;
}
.form-type-select .cs-skin-border {
  font-size: 1rem;
  font-weight: normal;
}
.form-type-select .cs-skin-border > span {
  border: 2px solid #c3c3c6;
  border-radius: 2px;
  display: block;
}
.form-type-select .cs-skin-border.cs-active > span,
.form-type-select .cs-skin-border .cs-options {
  color: #8e2b88;
}
.form-type-select .cs-skin-border .cs-options li span:hover,
.form-type-select .cs-skin-border li.cs-focus span {
  background-color: #f7f7f7;
}
input::-webkit-input-placeholder {
  color: #a1a1a5;
}
input:focus::-webkit-input-placeholder {
  color: #c3c3c6;
}
input::-moz-placeholder {
  color: #a1a1a5;
}
input:focus::-moz-placeholder {
  color: #c3c3c6;
}
input:-ms-input-placeholder {
  color: #a1a1a5;
}
input:focus:-ms-input-placeholder {
  color: #c3c3c6;
}
div.messages {
  border-radius: 4px;
  background-color: #8e2b88;
  color: #111;
  padding: 1.06rem .9rem 1.22rem;
  position: relative;
  max-width: 100%;
  margin-bottom: 1em;
}
div.messages:last-child {
  margin-bottom: 0;
}
div.messages.status,
div.messages.ok {
  background-color: #82c451;
  color: #111;
  border: none;
  background-image: none;
}
div.messages.warning {
  background-color: #9a9a9a;
  color: #111;
  border: none;
  background-image: none;
}
div.messages.error {
  background-color: #8e2b88;
  color: #111;
  border: none;
  background-image: none;
}
ul.links,
ul.links.inline,
ul.links li,
.block ul,
ol,
ul,
.item-list ul,
.item-list ul li {
  list-style: none;
}
ul,
.block ul,
.item-list ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em;
}
ul.inline,
ul.links.inline {
  display: inline;
  padding-left: 0;
}
ul.inline:after {
  content: "";
  display: none;
  clear: none;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}
ul.links li,
ul.inline li {
  padding-right: 1em;
}
.panel-display {
  width: 90%;
  margin: 2em auto;
  max-width: 830px;
  transform: translateX(-100px);
  opacity: 0;
  transition: .5s transform ease, .5s opacity ease;
}
.here {
  transform: translateX(0);
  opacity: 1;
}
.going {
  opacity: 0;
  transform: translateX(100px);
}
.pane-content {
  overflow: visible;
}
a.element-invisible {
  position: absolute;
  top: 0;
  left: 0;
  color: #c3c3c6;
}
.tabs,
ul.primary {
  background: transparent;
  border-bottom: none;
}
ul.primary li {
  display: block;
}
.episode {
  width: 100%;
  height: 400px;
  display: block;
  cursor: pointer;
  background-image: url(http://zoeandgavin.com/sites/default/files/field/image/intro3.png);
  background-size: cover;
  text-shadow: 5px 5px 5px black;
  text-align: center;
  font-size: 132px;
  color: #fff;
  text-decoration: none;
  letter-spacing: -15px;
  font-weight: bold;
  padding: 100px 0;
  z-index: 1;
  position: relative;
  border: 0px solid #222;
  overflow: hidden;
  margin-top: -90px;
  transition: filter .5s ease;
  -webkit-clip-path: polygon(0% 100px,100% 0,100% 400px,0% 300px);
}
.episode.not-available {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}
.episode.noclick {
  cursor: default;
  background-image: none;
  background-color: transparent;
  color: #c3c3c6;
  text-shadow: none;
}
.episode.noclick .eptitle {
  color: #c3c3c6;
}
.episode .eptitle {
  display: block;
  letter-spacing: 1px;
  margin-top: -35px;
  font-size: 20px;
  font-weight: bold;
}
.episode:first-child .eptitle.center {
  width: auto;
  text-align: center;
}
.episode a {
  color: #fff;
  text-decoration: none;
}
.episode:first-child,
.episode:last-child {
  height: 300px;
}
.episode:nth-child(2n+1) {
  -webkit-clip-path: polygon(0% 0%,100% 100px,100% 300px,0% 400px);
}
.episode:first-child {
  margin-top: 10px;
  -webkit-clip-path: polygon(0% 0%,100% 0,100% 200px,0% 300px);
  padding: 0px;
}
.episode:last-child {
  margin-bottom: 10px;
  -webkit-clip-path: polygon(0% 100px,100% 0%,100% 300px,0% 300px);
}
.episode:last-child:nth-child(2n+1) {
  -webkit-clip-path: polygon(0% 100px,100% 0%,100% 300px,0% 300px);
}
@media only screen and (max-width: 580px) {
  .episode {
    zoom: .55;
  }
}
iframe {
  width: 100%;
  max-width: 1236px;
  height: 640px;
  margin: 0 auto;
}
.pane-custom span.secondary {
  word-break: break-word;
}
input.password-field,
input.password-confirm {
  width: 100%;
}
div.form-item div.password-suggestions {
  border: none;
  visibility: hidden;
  display: none;
}
.password-strength,
#edit-timezone,
.password-suggestions+.description,
div.password-confirm {
  display: none !important;
}
.password-parent,
.confirm-parent {
  width: auto;
}
.view-content img[typeof='foaf:Image'] {
  width: 100%;
  height: auto;
}
